.night {
  background: #404040;
  color: white;
}

.day {
  background: #d2d2d2;
  color: #000000;
}

.image {
  border: 5px solid #CC0000;
  border-radius: 50%;
}

h1 {
  text-decoration: underline;
}

.special {
  font-size: 2.5em;
}

h2 {
  text-decoration: underline;
}

.checked {
  color: orange;
}

nav {
  display: flex;
  justify-content: flex-end;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex-container > * {
  flex: 0 0 33.3333%;
}

#btnDayNight {
  color: #FFFFFF;
  background: #292929;
  width: 130px;
  height: 40px;
}
