$primary-color-night:#404040;
$secondary-color-night: white;
$primary-color-day:#d2d2d2;
$secondary-color-day: #000000;


.night {
	background: $primary-color-night;
	color: $secondary-color-night;
  }
  
.day {
	background: $primary-color-day;
	color: $secondary-color-day;
}
  
.image {
	border: 5px solid #CC0000;
	border-radius: 50%;
}
  
h1 {
	text-decoration: underline;
}
  
.special {
	font-size: 2.5em;
}
  
h2 {
	text-decoration: underline;
}
  
.checked {
	color: orange;
}
  
nav {
	display: flex;
	justify-content: flex-end;
}
  
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
  
.flex-container > * {
	flex: 0 0 33.3333%;
}

#btnDayNight{
  color:#FFFFFF;
  background: #292929;
  width: 130px;
  height: 40px;
}