#body{
  background: #d2d2d2;
}

.image {
  border: 5px solid #CC0000;
  border-radius: 50%;
}

h1 {
  text-decoration: underline;
}

.special {
  font-size: 2.5em;
}

h2 {
  text-decoration: underline;
}

.checked {
  color: orange;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex-container > div {
  flex: 0 0 33.3333%;
}

.first{
  width: 115px;
  display: inline-block;
}

.second{
  width: 53px;;
  display: inline-block;
}

.third{
  width: 73px;
  display: inline-block;
}

.flex-container div{
  margin-bottom: 5px;
}

@media screen and (max-width: 540px) {
  .flex-item{
    flex-basis: 100%;
  }

  .flex-container > div {
    flex: 0 0 100%;
  }

  .first{
    width: 115px;
    display: inline-block;
  }

  .second{
    width: 115px;
    display: inline-block;
  }

  .third{
    width: 115px;
    display: inline-block;
  }

}
